{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "constants": "./src/constants",
          "components": "./src/components",
          "hooks": "./src/hooks",
          "shared": "./src/shared",
          "contexts": "./src/contexts",
          "utils": "./src/utils"
        }
      }
    ],
    [
      "babel-plugin-transform-imports",
      {
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        }
      }
    ]
  ],
  "presets": ["@babel/preset-react", "@babel/preset-env"]
}
